[submodule "third_party/libzmq"]
	path = third_party/libzmq
	url = git@github.com:zeromq/libzmq.git
[submodule "third_party/cppzmq"]
	path = third_party/cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = git@github.com:gflags/gflags.git
[submodule "third_party/cereal"]
	path = third_party/cereal
	url = git@github.com:USCiLab/cereal.git
